
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body{
    
}


textarea{
    padding: 1rem;
    width: 120px;
    height: 20px;
    background:transparent;
    font-family: 'Russo One', sans-serif;
    border:solid black;
    margin-top:40px;
    margin-bottom:40px;
}


#output{
    border: 1px solid black;
    padding: 1rem;
    width:150px;
    color:black;
    font-size: 15px;
    overflow: auto;
    border: solid black;
    margin-top:40px;
    margin-bottom:60px;
    box-sizing: border-box;
}

.container-main{
    margin: auto;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 75%;
    text-align: center;
    font-size: 50px;
    color: black;
    border: solid black;
}

.heading{
    text-align: center;
    max-width: 200px;
    margin-top:40px;
    padding: 10px;
    font-size: 10px;
    
}


/* footer */

footer{
    padding-top: 30px;
}

.list-items {
    display: inline;
    padding: 20px;
}

.footer-heading{
    text-align: center;
    color:black;
}
.footer ul{
    text-align: center;
    padding-left: 0px;
    
}
.fab{
    color: black;
}